header {
    background-color:lightblue;
    color:white;
    text-align:center;
    padding:5px;
}
nav { 
    line-height:30px;
    background-color:#eeeeee;
    height:800px;
    width:100px;
    float:right;
    padding:5px; 
}
section{
    height:800px;
    
}

a{
    display: block;
}